<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Avionski letovi</title>
        <link th:href="@{/styles/style.css}" rel="stylesheet"/>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    </head>
<body>
<div>
    <h2>Avionski letovi</h2>
    <hr>
    <div>
        <form action="#" th:action="@{/flights}" th:object="${flightSearch}" method="post">
            <div class="input-group input-group-sm mb-3" style="width: 250px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Polazište:</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon1" th:field="*{departureAirport}">
            </div>
            <div class="input-group input-group-sm mb-3" style="width: 250px" ;>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Destinacija:</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon2"
                       th:field="*{destinationAirport}">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Submit"/>
                <input type="reset" value="Reset" class="btn btn-warning"/>
            </div>
        </form>
    </div>
</div>

</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>